.matchFirstPlayer {
    background-color: aqua;
    border-top-style:solid;
    border-left-style:solid;
    border-right-style:solid;
}

.matchSecondPlayer {
    background-color: aqua;
    border-bottom-style:solid;
    border-left-style:solid;
    border-right-style:solid;
}