@{
    ViewData["Title"] = "Draw Page";
}

<h1>Draw</h1>
<div>
    <table id="drawTable" class="display" cellspacing="0" data-page-length='25'>
        <thead>
            <tr id="drawTableRowHeader">
            </tr>
        </thead>
    </table>
</div>

@section Styles {
}
@section Scripts {
        <script src="~/js/draw.js"></script>
}

