@{
    ViewData["Title"] = "Draw Page";
}

<div>
    <h1>Draw</h1>
    <table id="drawTable" class="display" cellspacing="0" width="100%" data-page-length='25'>
        <thead>
            <tr>
                <th>Column0</th>
                <th>Column1</th>
                <th>Column2</th>
                <th>Column3</th>
                <th>Column4</th>
                <th>Column5</th>
                <th>Column6</th>
            </tr>
        </thead>
        @*<tfoot>
            <tr>
                <th>Column0</th>
                <th>Column1</th>
                <th>Column2</th>
                <th>Column3</th>
                <th>Column4</th>
                <th>Column5</th>
                <th>Column6</th>
            </tr>
        </tfoot>*@
    </table>
</div>

@section Styles {
}
@section Scripts {
        <script src="~/js/draw.js"></script>
}

