@{
    ViewData["Title"] = "Draw Page";
}

<h1>Draw</h1>
<div>
    <table id="drawTable" class="compact" cellspacing="0" data-page-length='25'>
        <thead>
            <tr id="drawTableRowHeader">
            </tr>
        </thead>
    </table>
</div>

@section Styles {
    <environment names="Development">
         <link rel="stylesheet" href="~/css/draw.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/draw.min.css" />
    </environment>
}
@section Scripts {
    <environment names="Development">
        <script src="~/js/draw.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/draw.min.js"></script>
    </environment>
}

